
@import "core_styles/reset";
@import "core_styles/animations";
@import "core_styles/colors";
body{
	background-image : url('/background.png');
	//font-family      : 'Raleway', 'sans-serif';
	font-family: 'Libre Franklin', sans-serif;
	color            : #333;
}
.container{
	margin-top : 15%;
	text-align : center;
	.name{
		text-transform: uppercase;
		.fade(0.5s);
		font-size   : 2.8em;
		font-weight : 500;
		.last{
			font-weight : 800;
		}
	}
	.description{
		.fade(1.25s);
		margin-top : 20px;
		color      : @concrete;
		color : @pipPink;
		.bar{
			display: inline-block;
			vertical-align: text-bottom;
			width: 2px;
			height: 1.3em;
			margin: 0px 20px;
			background-color: @pipPink;
		}
	}
	.contact{
		text-transform: uppercase;
		width        : 400px;
		margin-top   : 50px;
		margin-right : auto;
		margin-left  : auto;
		font-size    : 1.6em;
		font-weight  : 500;
		&>*{
			display : block;
			margin  : 20px 20px;
			//font-family      : 'Raleway', 'sans-serif';
			//font-family: 'Lobster';
		}
		:nth-child(1){ .fade(2s); }
		:nth-child(2){ .fade(2.3s); }
		:nth-child(3){ .fade(2.6s); }
		:nth-child(4){ .fade(2.9s); }
		.resume{    .link(@pipPink); }
		.portfolio{ .link(@pipPink); }
		.email{     .link(@pipPink); }
		.site{      .link(@pipPink); }
	}
}
//Mixins
.fade(@delay){
	.fadeInDown(1s);
	.keep();
	.delay(@delay);
	opacity : 0;
}
.link(@color : black){
	.animate(color, 0.3s);
	position        : relative;
	padding         : 10px;
	cursor          : pointer;
	color           : inherit;
	text-decoration : none;
	&::after, &::before{
		.animateAll(0.3s);
		content    : '';
		position   : absolute;
		left       : 0;
		height     : 2px;
		width      : 100%;
		opacity    : 0;
		background : @color;
	}
	&::after{
		.transform(translateY(10px));
		bottom : 0;
	}
	&::before{
		.transform(translateY(-10px));
		top : 0;
	}
	&:hover{
		color : @color;
		&::after, &::before{
			.transform(translateY(0px));
			opacity : 1;
		}
	}
}